{% extends "layouts/app.twig" %}

{% block title %}Profile{% endblock %}

{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                  Overview
                </div>
                <h2 class="page-title">
                  Profile
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card">
              <div class="row g-0">
                <div class="col-3 d-none d-md-block border-end">
                  <div class="card-body">
                    <h4 class="subheader">Settings</h4>
                    <div class="list-group list-group-transparent">
                      <a href="./settings.html" class="list-group-item list-group-item-action d-flex align-items-center active">My Account</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">My Notifications</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Connected Apps</a>
                      <a href="./settings-plan.html" class="list-group-item list-group-item-action d-flex align-items-center">Plans</a>
                      <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">Billing & Invoices</a>
                    </div>
                    <h4 class="subheader mt-4">Experience</h4>
                    <div class="list-group list-group-transparent">
                      <a href="#" class="list-group-item list-group-item-action">Give Feedback</a>
                    </div>
                  </div>
                </div>
                <div class="col d-flex flex-column">
                  <div class="card-body">
				<form action="{{route('change.password')}}" name="register" method="post">
					{{ csrf.field | raw }}
                    <h2 class="mb-4">My Account</h2>
                    <h3 class="card-title">Profile Details</h3>
                    <div class="row g-3">
                      <div class="col-md">
                        <div class="form-label">User Name</div>
                        <input type="text" class="form-control" value="{{ username }}" readonly>
                      </div>
                      <div class="col-md">
                        <div class="form-label">Email</div>
                        <input type="text" class="form-control" value="{{ email }}" readonly>
                      </div>
                    </div>
                    <h3 class="card-title mt-4">Change Password</h3>
                    <div class="row g-3">
                      <div class="col-md">
                        <div class="form-label required">Old Password</div>
                        <input type="password" class="form-control{{ errors.old_password ? ' is-invalid' : '' }}" name="old_password" placeholder="Enter old password" required>
						{% if errors.old_password %}
							<small class="form-hint">{{ errors.old_password | first }}</small>
						{% endif %}
                      </div>
                      <div class="col-md">
                        <div class="form-label required">New Password</div>
                        <input type="password" class="form-control{{ errors.new_password ? ' is-invalid' : '' }}" name="new_password" placeholder="Enter new password" required>
						{% if errors.new_password %}
							<small class="form-hint">{{ errors.new_password | first }}</small>
						{% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent mt-auto">
                    <div class="btn-list justify-content-end">
                      <a href="#" class="btn">
                        Cancel
                      </a>
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
				  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
          <div class="container-xl">
              <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                  <li class="list-inline-item">
                    Copyright &copy; 2023
                    <a href="https://getpinga.com" class="link-secondary">Pinga</a>.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}
